<form class="form form-inline" id="form">
  <input type="text" id="input" value="" placeholder="2012-07-07 09:31:23">
  <button class="btn submit" id="convert-unixtime">Convert</button>
</form>
<div class="row">
  <div id="result" class="well result span8 offset2">
</div>
</div>
